<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="/static/css/aasanList.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
</head>
        <body>
          <div class="yoga">
            <div class="menu">
                <h5 class="home">Home</h5>
                <h5 class="about">About</h5>
                <h5 class="contact">Contact</h5>
              </div>
            <div class="group-1">
              <div class="card-1">
                <img class="asan-1" src="/static/images/padmasan.jpg" alt="Padmasana" />
                <h2 class="asan-name-1">Padmasana Asana</h2>
                <p class="asan-para-1">
                  It establishes strength and balance, and
                  helps you feel centered.
                </p>
                <p class="btn">
                  <form action="aasanPage">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
              <div class="card-2">
                <img class="asan-1" src="/static/images/vajrasan.png" alt="Vajrasan" />
                <h2 class="asan-name-1">Vajrasan Asana</h2>
                <p class="asan-para-1">
                  It strengthens the core and improves circulation,  providing
                  easy digestion.
                </p>
                <p class="btn">
                  <form action="vajrasan.html">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
              <div class="card-3">
                <img class="asan-1" src="/static/images/paschimottanasana.jpg" alt="Paschimottanasana" />
                <h2 class="asan-name-1">Paschimottanasana</h2>
                <p class="asan-para-1">
                   Restful pose that can be sequenced between more
                  challenging asanas.
                </p>
                <p class="btn">
                  <form action="paschimottanasana.html">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
            </div>
      
            <div class="group-2">
              <div class="card-4">
                <img class="asan-1" src="/static/images/Bitilasana.jpg" alt="Tad Asana" />
                <h2 class="asan-name-1">Bitilasana Asana</h2>
                <p class="asan-para-1">
                  The foundation of all streching poses, It may use as a 
                  tool to improve posture.
                </p>
                <p class="btn">
                  <form action="bitilasana.html">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
              <div class="card-5">
                <img class="asan-1" src="/static/images/Dandaasan.jpg" alt="Dandaasan Asana" />
                <h2 class="asan-name-1">Dandaasan Asana</h2>
                <p class="asan-para-1">
                  It is a quintessential sitting pose that stretches and strengthens
                  the whole body.
                </p>
                <p class="btn">
                  <form action="dandaasan.html">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
              <div class="card-6">
                <img class="asan-1" src="/static/images/ArdhaMatsyendrasana.jpg" alt="Ardha matsyendrasan" />
                <h2 class="asan-name-1">Ardha Matsyendrasan</h2>
                <p class="asan-para-1">
                Foundational yoga pose for flexibility
                </p>
                <p class="btn">
                  <form action="ardhaMatsyendrasana.html">
                    <button class="play1"><svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg></button>
                   </form>
                </p>
              </div>
            </div>
          
          </div>
         
      
</body>
</html>