<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="/static/css/track_style.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
</head>
        <body>
            <div class='track'>
                <h1 class='head'>Select What You Need !</h1>
                <div class='mid'>
                <div class='pic'>
                <img class="cover" src="/static/images/track.png" alt="Track"/>
                </div>
                <div class='button'>
                    <form action="sittingAasanList">
                        <button class='bgnr'>Sitting yoga poses </button><br></br>
                    </form>
                    <form action="recliningAasanList">
                        <button class='power'>Reclining yoga poses</button><br></br>
                    </form>
                    <form action="standingAasanList">
                        <button class='power'>Standing  Yoga Track</button><br></br>
                    </form>
                        <button class='power'>Yoga in Pregnancy Track</button><br></br>
                        <button class='power'>Cardiovascular Yoga Track</button><br></br>
                        <button class='power'>Yoga for Migraine Track</button><br>
                        <button class='power1'>Yoga for Asthma Track</button>
              
            
                       </form>
        
                </div>
                </div>
            </div>
    
</body>
</html>